.pie{
    height: 50px;
    background-color: rgba(30, 30, 30, .8);
    color: var(--blanco);
    text-align: center;
    border: 1px solid white;
    .titulo{
        line-height: 28px;
        margin: 10px;
    }
}