.cabeza{
    .izq{
        background-color: rgb(10, 10, 10);
        padding-bottom: 4px;
        .content_izq{
            padding: 5px;
            border-bottom: 2px solid rgb(239, 214, 24);
            .content_content_izq{
                position: relative;
                right: -50px;
            }
            & img{
                image-rendering: pixelated;
                margin: 0px 6px 0px 3px;
            }
        }
        .titulo{
            margin: 0px;
            font-size: 40px;
            line-height: 32px;
            color: var(--blanco);
        }
    }
    .der{
        width: 100px;
        height: 56px;
        background-image: url(../../../assets/imgs/header_der.png);
    }

}