.busqueda{
    margin-top: 6px;
    height: 32px;
    font-size: 28px;
    .input_busqueda{
        text-align: center;
        text-transform: uppercase;
        margin-right: 6px;
        margin-bottom: 4px;
        line-height: 28px;
        height: 28px;
        width: 300px;
        background: none;
        border: none;
        color: var(--blanco);
        font-size: 28px;/*
        caret-shape: block;
        caret-color: var(--verde);*/
    }
    .input_busqueda:focus{
        outline: none;
    }
    .labels{
        text-align: center;
        margin-right: 6px;
        width: 300px;
        line-height: 28px;
    }
    .label_color{
        width: 117px;
        font-size: 28px;
        color: var(--blanco);
    }
    .label_tipo{
        width: 123px;
        font-size: 28px;
        color: var(--blanco);
    }
    .boton_search_color{
        width: 28px;
        height: 28px;
        margin-right: 4px;
        border: none;
        background: none;
    }
    .boton_search_tipo{
        width: 28px;
        height: 28px;
        border: none;
        background: none;
    }
    .boton_search_color:hover{
        background-color: var(--verde);
    }
    .boton_search_tipo:hover{
        background-color: var(--verde);
    }
}

.boton_flecha{
    width: 34px;
    height: 38px;
    border: none;
    background: none;
}
.atras{
    margin-left: 16px;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}
.atras:hover{
    background-image: url(../../../assets/imgs/arrowLeft2.png);
}
.adelante{
    margin-left: 14px;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}
.adelante:hover{
    background-image: url(../../../assets/imgs/arrowRight2.png);
}
.caja-pokemones{
    margin: 4px 10px 10px;
}

/* =============================  MODAL  =================================== */
.modal{
    display: none;
    width: 487px;
    height: 392px;
    position: absolute;
    overflow: auto;
    z-index: 1;
    top: 74px;
    left: 4px;/*
    box-shadow: 0 0 20px 0 rgba(165, 15, 15, 0.5);*/
    background: rgba(50, 50, 50, 0.7);
    .modal_contenido_color{
        display: none;
        width: 293px;
        height: 228px;
        position: relative;
        top: 67px;
        left: 97px;
        background-image: url(../../../assets/imgs/modal_color.png);
        /*input custom*/
        .caja_inputs_color{
            width: 226px;
            height: 122px;
            position: absolute;
            top: 68px;
            left: 33px;
            .color_input{
                display: none;
                background: none;
            }
            .radio_image{
                display: inline-block;
                width: 42px;
                height: 38px;
                margin-right: 4px;
                margin-bottom: 4px;
                cursor: pointer;
            }
            .radio_image:hover{
                background: url(../../../assets/imgs/select_color.png);
            }
        }
    }
    .modal_contenido_tipo{
        display: none;
        width: 293px;
        height: 228px;
        position: relative;
        top: 67px;
        left: 97px;
        background-image: url(../../../assets/imgs/modal_tipo.png);
        .caja_inputs_tipo{
            width: 272px;
            height: 160px;
            position: absolute;
            top: 48px;
            left: 10px;
            .tipo_input{
                display: none;
                background: none;
            }
            .radio_imagen_tipo{
                display: inline-block;
                width: 68px;
                height: 32px;
                margin-bottom: 0px;
                cursor: pointer;
            }
            .radio_imagen_tipo:hover{
                background: url(../../../assets/imgs/select_tipo.png);
            }
        }
    }
}
.modal_boton_cerrar{
    width: 28px;
    height: 36px;
    position: absolute;
    border: none;
    top: 0;
    right: 12px;
    background: none;
}
.modal_boton_cerrar:hover{
    background-image: url(../../../assets/imgs/select_close.png);
}
/* =============================  END MODAL  =================================== */